.navbar-brand {
  padding-left: 20px; }

.navbar ul {
  padding-left: 5%; }

.login {
  padding: 150px 50px 100px 50px; }

#cadastro-usuario {
  font-size: 20px;
  color: #007BFF; }

.form-control {
  background: #C5C2DD; }

#cadastro-usuario {
  padding-bottom: 20px; }
