// Main Sass File
.navbar-brand {
    padding-left: 20px;
}

.navbar ul {
    padding-left: 5%;
}

.login {
    padding: 150px 50px 100px 50px;
}

#cadastro-usuario {
    font-size: 20px;
    color: #007BFF;
    margin-bottom: 35px;
}

.form-control {
    background: #C0C0C0;
}

#cadastro-usuario {
    padding-bottom: 20px;
}

#inputNascimento,
#inputCPF,
#inputEmail,
#inputSenha,
#inputFone,
#inputRG,
#inputPassword {
    text-align: center;
}

.btn .btn-success {
    margin-top: 30px;
}

.form-group button {
    padding: 6px 14px 6px;
    text-align: center;
    margin-right: 10px;
    margin-top: 30px;
}

#button-group {
    padding-left: 40%;
}